<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Enrollee</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="RegistrationForm">
        <form action="/auth/addenrollee" method="POST">
        <h3 style="text-align: center;">{{title}}</h3> <br>
            <div class="InputBox">
                <label for="admissionid" style="font-weight: 700;">Admission ID:</label>
                <input type="text" id="admission_id" name="admission_id">
            </div> <br>
            <div class="InputBox">
                <label for="courseid" style="font-weight: 700;">Course ID</label>
                <input type="text" id="course_id" name="course_id">
            </div> <br>
            <div class="InputBox">
                <label for="fname" style="font-weight: 700;">First Name</label>
                <input type="text" id="first_name" name="first_name">
            </div> <br>
            <div class="InputBox">
                <label for="mname" style="font-weight: 700;">Middle Name</label>
                <input type="text" id="middle_name" name="middle_name">
            </div> <br>
            <div class="InputBox">
                <label for="lname" style="font-weight: 700;">Last Name</label>
                <input type="text" id="last_name" name="last_name">
            </div> <br>
            <div class="InputBox">
                <label for="email" style="font-weight: 700;">Email</label>
                <input type="text" id="email" name="email">
            </div> <br>
            <div class="InputBox">
                <label for="gender" style="font-weight: 700;">Gender</label>
                <input type="text" id="gender" name="gender">
            </div>
            <div class="InputBox">
                <label for="payment" style="font-weight: 700;">Payment ID</label>
                <input type="text" id="payment_id" name="payment_id">
            </div>
            <div class="InputBox">
                <label for="test" style="font-weight: 700;">Test ID</label>
                <input type="text" id="test_id" name="test_id">
            </div>
            <div class="InputBox">
                <input type="submit" onclick="return confirm('Are the details all correct?')" value="Add Enrollee">
            </div>
        </form>
    </div>
</body>
</html>