<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="RegistrationForm" style="margin-top: 200px;">
        <form action="/auth/login" method="POST">
            <h2 style="color: #470487; font-weight:900;">Admin Login Portal</h2>
            <div class="InputBox">
                    <input type="text" id="email" name="email" placeholder="Email">
                    <!-- <div class="errorHint hidden">Valid Email is required.</div> -->
            </div>
            <div class="InputBox">
                    <input type="password" id="password" name="password" placeholder="Password">
                    <!-- <div class="errorHint hidden">Password length must be at least 8 characters.</div> -->
            </div> 
            <div class="InputBox">
                    <input type="submit"  value="Login">
            </div>
        </form>
        <h5>Register here for first-time users. <a href="/register">Register</a></h5>
    </div>
{{#if message }}
<h4 style="color:red; text-align:center">{{message}}</h4>
{{/if}}
</body>
</html>